@model IEnumerable<CFProject.Models.UserTask>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center w-100 mb-3">Projects</h1>

@if (Context.Session.GetInt32("UserRoleId") != null && Context.Session.GetInt32("UserRoleId") > 1)
{
    <div class="btn btn-outline-info">
        <a class="text-info text-decoration-none" asp-action="Create">Create New</a>
    </div>
}


<div class="container d-flex flex-wrap justify-content-between">
    @{
        List<int> existingTasks = new List<int>();
    }
    @foreach (var project in Model)
    {
        if (!existingTasks.Contains(project.TaskId))
        {
            existingTasks.Add(project.TaskId);

            <div class="card w-50 border-dark">
                <div class="card-header">
                    <h4>@project.Project.Title</h4>
                </div>

                <div class="card-body">
                    <p>@project.Project.Description</p>

                    <hr />

                    <div class="float-left w-50">
                        <div class="card-header">
                            <h5>Company</h5>
                        </div>
                        <div class="card-body">
                            <p>
                                @project.Project.Company.Name
                            </p>
                        </div>
                    </div>

                    <div class="float-right w-50">
                        <div class="card-header">
                            <h5>
                                Assigned programmers
                            </h5>
                        </div>
                        <div class="card-body">
                            @foreach (var programmer in Model)
                            {
                                <p class="font-weight-bold">
                                    @programmer.User.Name
                                </p>
                            }
                        </div>
                    </div>
                </div>

            </div>
        }
    }
</div>