@model IEnumerable<CFProject.Models.UserTask>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


@if (TempData["Login"] != null && (string)TempData["Login"] == "Success")
{
    <div class="alert-success">
        <h5 class="text-center p-2">Login Successful</h5>
    </div>
}

@if ((string)TempData["Logout"] == "Success")
{
    <div class="alert-success">
        <h5 class="text-center p-2">You have been logged out</h5>
    </div>
}

@if (Context.Session.GetInt32("UserId") != null)
{
    <hr />
    <h2 class="text-center">My Projects</h2>

    <div class="container d-flex flez-wrap justify-content-around">

        @foreach (var project in Model)
        {
            <div class="card w-25 m3">
                <div class="card-header">
                    <h5>@project.Project.Title</h5>
                </div>
                <div class="card-body">
                    <p>
                        @project.Project.Description
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-primary w-100" asp-action="Details" asp-controller="Projects" asp-route-id="@project.TaskId">Go to project details</a>
                </div>
            </div>
        }

    </div>
}

