@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


@if (TempData["Login"] != null && (string)TempData["Login"] == "Success")
{
    <div class="alert-success">
        <h5 class="text-center p-2">Login Successful</h5>
    </div>
}

@if ((string)TempData["Logout"] == "Success")
{
    <div class="alert-success">
        <h5 class="text-center p-2">You have been logged out</h5>
    </div>
}
