@model CFProject.Models.User

@{
    ViewData["Title"] = "Create";
}

<style>
    .search{
        display: none;
    }
</style>

<h1>Login</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["Login"] != null && (string)TempData["Login"] == "NotFound")
        {
            <div class="alert alert-danger">
                Incorrect username or password
            </div>
        }
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Name">Username: </label>
                <input asp-for="Name" type="text" class="form-control" name="Name" autocomplete="off">
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div>
                <label asp-for="Password">Password: </label>
                <input asp-for="Password" type="password" class="form-control" name="Password" autocomplete="off">
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>

            <button type="submit" class="btn btn-primary mt-1">Login</button>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
