@model IEnumerable<CFProject.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>


@*<div class="container p-5 mt-5 w-50" style="background-color: lightgray; border-radius: 25px;">
    <h1>Login</h1>
    <form asp-page-handler="Login" autocomplete="off">
        <div>
            <label asp-for="Name">Username: </label>
            <input asp-for="Name" type="text" class="form-control" name="Username">
        </div>
        <div>
            <label asp-for="Password">Password: </label>
            <input asp-for="Password" type="password" class="form-control" name="Password">
        </div>

        <button type="submit" class="btn btn-primary mt-1">Login</button>

    </form>
</div>*@